<!-- ============================================================== -->
<!-- Main wrapper - -->
<!-- ============================================================== -->
<div class="wrapper">
  <!-- ============================================================== -->
  <!-- Navbar section-->
  <!-- ============================================================== -->
  <app-navbar></app-navbar>
  <!-- ============================================================== -->
  <!-- Sidebar section -->
  <!-- ============================================================== -->
  <app-sidebar></app-sidebar>
  <!-- ============================================================== -->
  <!-- Content wrapper  -->
  <!-- ============================================================== -->
  <div class="content-wrapper">
    <!-- ============================================================== -->
    <!-- Main content  -->
    <!-- ============================================================== -->
    <div class="content">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="container-fluid mt-4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
